@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@font-face {
    font-family: 'Rusillaserif-Regular';
    src: url('fonts/Rusillaserif-Regular.ttf');
}

html {
font-size: 18pt;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(163, 188, 223);
    width: 100%;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
} 

header ul li{
    margin: 10px;
}

img{
    width: 230px;
}
h1 {
    font-size: 34px;
    color: rgb(68, 35, 72);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-size: 20px;
    color: rgb(70, 56, 61);
}

.contenedor{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0 10px 0;
    background-color: rgb(197, 200, 201);
}

.caja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-color: rgb(173, 147, 197);
    border-width: 1px;
    border-style: solid;
    padding: 10px;
  
  }

.caja img{
    border-radius: 50%;
}
.caja p{
    font-size: 12px;
}

.presentacion h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Rusillaserif-Regular';
    color: antiquewhite;
}
.presentacion p {
    font-size: 20px;
    font-family: Poppins, system-ui;
    font-weight: 600;
  
}
/*
#impacto {
    font-family: 'Rusillaserif-Regular';
}*/